* {
  font-family: 'Noto Sans', sans-serif;
  font-family: 'Noto Sans TC', sans-serif;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

h1 {
  font-family: 'Noto Sans';
  font-weight: 700;
  font-size: 35px;
}

#btn {
  font-family: 'Noto Sans';
  font-weight: 'SemiBold';
  font-size: 20px;
  color: #ffffff;
  width: 370px;
  height: 55px;
  left: 0;
  top: 0;
  position: relative;
  background: linear-gradient(90deg, #D9D9D9 0%, #217AFF 0%, 
            rgba(83.13, 162.04, 219.19, 0.48) 100%);
  border-radius: 10px;
  border: none;
}
